<h1>게시글을 입력해주세요.</h1>
<form action='/create' method ="POST">
    제목 : <input type= "text"name="title"><br>
    작성자 :<input type ="text" name = "editor"><br>
    내용 : <textarea row="5" name = "content"></textarea>
    <input type = "submit">
</form>
